@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

* {
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    to left top,
    #820263,
    #9b305c,
    #aa545e,
    #b3766b,
    #b89685
  );
  background-repeat: no-repeat;
  color: white;
}

/* --------------------NAVBAR------------------ */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.7%;
  font-weight: bold;
  align-items: center;
  border-bottom: 1px solid white;
  box-shadow: 60px -16px black;
}

.brand {
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  padding: 0.2em;
  cursor: pointer;
  border-radius: 5px;
}

.link {
  text-decoration: none;
  transition: 0.3s;
  color: white;
  font-size: 1.3rem;
  padding: 0.3em;
  margin: 0.5em;
  cursor: pointer;
  border-radius: 5px;
}

.link:hover,
.brand:hover {
  background-color: white;
  color: #9b305c;
}

/* -------------FORM---------------- */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.submission-form {
  border: 2px white solid;
  padding: 2em;
  width: 30%;
  border-radius: 20px;
}

.form-heading {
  margin: 1em 0 2em 0;
  text-shadow: 2px 2px 0px black; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  font-size: 1.2rem;
}

label {
  display: block;
  padding: 1em 0;
  font-size: 1.2rem;
}
input[type="text"],
input[type="number"] {
  border-radius: 5px;
  border: none;
  display: block;
  width: 100%;
  height: 2em;
  font-size: 1rem;
  outline: none;
}
.submit-btn {
  width: initial;
  display: block;
  margin-top: 2em;
  background: linear-gradient(
    to left top,
    #820263,
    #9b305c,
    #aa545e,
    #b3766b,
    #b89685
  );
  color: white;
  font-size: 1rem;
  padding: 0.5em 2em;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  border: 2px solid white;
  transition: 0.3s;
}

.submit-btn:hover {
  transform: scale(1.1);
}

/* ---------------LIST---------------- */

.all-eq-heading {
  color: white;
  text-shadow: 2px 2px 0px black; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  text-align: center;
  margin: 2em;
  font-size: 1.2rem;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2em 8em 4em 8em;
  border: 1.5px solid white;
  border-radius: 10px;
}

.list-item,
.list-heading {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  font-size: 1.2rem;
}

.list-item > div,
.list-heading > div {
  padding: 1.8em 0;
}

.list-item > div:last-child,
.list-heading > div:last-child {
  border-right: 0;
}

.list-heading {
  font-weight: bold;
  border-bottom: 1px solid white;
  font-size: 1.5rem;
}

/* ------------------LIST-ITEM--------------- */
.list-item {
  border-bottom: 1px solid white;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.list-item:hover {
  opacity: 0.5;
}

.list-item:last-child {
  border-bottom: 0;
}

/* -------------------------MODALS----------------------------------------- */
.edit-modal-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.edit-modal {
  position: relative;
  background: linear-gradient(
    to left top,
    #820263,
    #9b305c,
    #aa545e,
    #b3766b,
    #b89685
  );
  width: 40%;
  height: 70%;
  padding: 2em;
  border-radius: 10px;
}

.edit-modal-todo-info {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.edit-modal-todo-info > label {
  padding: 1em 0;
}

.modal-weight-input,
.modal-name-input,
.modal-price-input,
.edit-modal-weight-input,
.edit-modal-name-input,
.edit-modal-price-input {
  padding: 0.5em;
  width: 80%;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
}

.edit-modal-btn{
  margin-top: 2em; 
}

.edit-modal-btn > button{
  padding: .5em 2.5em;
  border: none;
  font-size: 1rem;
  background-color:#b3766b;
  border-radius: 10px;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  transition: .3s;
}

.edit-modal-btn > button:hover{
  opacity: .5;
}

.edit-cancel-icon{
  font-size: 1.5rem;
  float: right;
  cursor: pointer;
  transition: .3s;
}

.edit-cancel-icon:hover{
  opacity:0.5;
}


/* -----------FOOTER----------------- */
a {
  text-decoration: none;
  color: white;
}

footer {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 2%;
  font-size: 1.2rem;
  text-align: center;
}

.footer-text {
  margin-bottom: 0.5em;
}

.social-icon {
  transition: 0.3s;
  font-size: 1.5rem;
}

.social-icon:not(:last-child) {
  margin-right: 0.7em;
}

/* ---------------MEDIA-QUERIES------------------ */
@media only screen and (max-width: 600px) {
  html {
    font-size: 0.8rem;
  }

  .navbar {
    padding: 4%;
  }

  /* ----------------FOOTER---------------- */
  footer {
    font-size: 1rem;
    padding: 4%;
  }
}
